---
layout: base
---

<section class="post-list__wrapper">
  {% set postslist = collections.posts | head(-10) %}
  {% include "posts-list.njk" %}

</section>

<a class="all-posts-link" href="{{ '/blog/' | url }}">View All Posts</a>